<div class="mobile">
  <div class="container">
      <div class="row mt-5">
          <div class="col-sm-4">
              <div class="card text-center mb-4">
                  <img src="./assets/imagenes/hnumber.jpg" class="card-img-top" alt="imagen">
                  <div class="card-body">
                      <h5 class="card-title">Numero secreto</h5>
                      <p class="card-text">¿En que numero estoy pensando?</p>
                      <a (click)="Juego('Adivina')" class="btn btn-primary">Jugar</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card text-center mb-4">
                  <img src="./assets/imagenes/ppt2.jpg" class="card-img-top" alt="imagen">
                  <div class="card-body">
                      <h5 class="card-title">Piedra, papel o tijera</h5>
                      <p class="card-text">El clasico juego de tu infancia.</p>
                      <a (click)="Juego('Ppt')" class="btn btn-secondary">Jugar</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card text-center mb-4">
                  <img src="./assets/imagenes/tateti.jpg" class="card-img-top" alt="imagen">
                  <div class="card-body">
                      <h5 class="card-title">Tateti</h5>
                      <p class="card-text">Tambien conocido como 3 en linea.</p>
                      <a (click)="Juego('Tateti')" class="btn btn-success">Jugar</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row mb-5">
          <div class="col-sm-4">
              <div class="card text-center mb-4">
                  <img src="./assets/imagenes/operaciones.jpg" class="card-img-top" alt="imagen">
                  <div class="card-body">
                      <h5 class="card-title">Operaciones matematicas</h5>
                      <p class="card-text">¿Que tan rapido sos con los numeros?</p>
                      <a (click)="Juego('Agilidad')" class="btn btn-danger">Jugar</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card text-center mb-4">
                  <img src="./assets/imagenes/anagram.jpg" class="card-img-top" alt="imagen">
                  <div class="card-body">
                      <h5 class="card-title">Anagrama</h5>
                      <p class="card-text">Reordena las letras correctamente.</p>
                      <a (click)="Juego('Anagrama')" class="btn btn-warning">Jugar</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card text-center mb-4">
                  <img src="./assets/imagenes/simons.jpg" class="card-img-top" alt="imagen">
                  <div class="card-body">
                      <h5 class="card-title">Simon dice</h5>
                      <p class="card-text">Segui los pasos de Simon, si puedes.</p>
                      <a (click)="Juego('Simon-dice')" class="btn btn-info">Jugar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>