<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro-b.jpg" alt="Avatar" style="width:100%">
      <div class="container-img"><h1 style="font-size: 2.2rem !important">Velocidad y agilidad aritmética </h1></div>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt-b.jpg" alt="Avatar" style="width:100%">
      <div class="container-img"><h1>Piedra Papel o Tijera</h1></div>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <div class="container-img"><h1>Adivina el número secreto</h1></div>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div>